In [ ]:
import json

fd=open('record.json','r')
r=fd.read()
fd.close()

record=json.loads(r)

### ADDING PRODUCT TO INVENTARY

In [ ]:
prod_id=str (input('enter the product id:'))
item=str (input('enter the icecream:'))
amt=int (input('enter the amount:'))
qty=int (input('enter the quantity:'))
exp=str (input('enter the expiry date:'))

record[prod_id]={'item':item,'amt':amt,'qty':qty,'exp':exp}

js=json.dumps(record)

fd=open("record.json",'w')
fd.write(js)
fd.close()

enter the product id:123481
enter the icecream:Chikoo
enter the amount:45
enter the quantity:30
enter the expiry date:5/9/21

In [ ]:
record

{'123456': {'amt': 25, 'exp': '4/9/21', 'item': 'vanila', 'qty': 30},
 '123457': {'amt': 30, 'exp': '4/9/21', 'item': 'strawberey', 'qty': 16},
 '123458': {'amt': 40, 'exp': '4/9/21', 'item': 'chocalate', 'qty': 30},
 '123459': {'amt': 40, 'exp': '4/9/21', 'item': 'pineapple', 'qty': 19},
 '123460': {'amt': 45, 'exp': '4/9/21', 'item': 'butterscotch', 'qty': 30},
 '123461': {'amt': 40, 'exp': '4/9/21', 'item': 'orangetang', 'qty': 30},
 '123462': {'amt': 50, 'exp': '4/9/21', 'item': 'bonanza', 'qty': 30},
 '123463': {'amt': 50, 'exp': '4/9/21', 'item': 'blackcurrent', 'qty': 30},
 '123464': {'amt': 50, 'exp': '4/9/21', 'item': 'pista', 'qty': 30},
 '123465': {'amt': 55, 'exp': '4/9/21', 'item': 'kesar malai', 'qty': 26},
 '123466': {'amt': 45, 'exp': '4/9/21', 'item': 'mango', 'qty': 17},
 '123467': {'amt': 45, 'exp': '4/9/21', 'item': 'mango candy', 'qty': 27},
 '123468': {'amt': 45, 'exp': '4/9/21', 'item': 'strawberey candy', 'qty': 28},
 '123469': {'amt': 45, 'exp': '4/9/21', 'item': 'orange candy', 'qty': 30},
 '123470': {'amt': 45, 'exp': '4/9/21', 'item': 'gadbhad', 'qty': 30},
 '123471': {'amt': 45, 'exp': '4/9/21', 'item': 'kasata', 'qty': 30},
 '123472': {'amt': 45, 'exp': '4/9/21', 'item': 'blueberrey', 'qty': 30},
 '123473': {'amt': 45, 'exp': '4/9/21', 'item': 'chocochip', 'qty': 30},
 '123474': {'amt': 45, 'exp': '4/9/21', 'item': 'chocobar', 'qty': 30},
 '123475': {'amt': 45, 'exp': '4/9/21', 'item': 'kesar pista', 'qty': 30},
 '123476': {'amt': 20, 'exp': '5/9/21', 'item': 'kulfi', 'qty': 25},
 '123477': {'amt': 35, 'exp': '5/9/21', 'item': 'double scope', 'qty': 30},
 '123478': {'amt': 65, 'exp': '5/9/21', 'item': 'choco nuts', 'qty': 30},
 '123479': {'amt': 15, 'exp': '5/9/21', 'item': 'mini cup vanila', 'qty': 27},
 '123480': {'amt': 45, 'exp': '5/9/21', 'item': 'nutilla', 'qty': 25},
 '123481': {'amt': 45, 'exp': '5/9/21', 'item': 'Chikoo', 'qty': 30}}

### BILLING

In [ ]:
import datetime
now=datetime.datetime.now()
print('date and time:')
print(now.strftime('%Y-%m-%d  %H:%M:%S'))

print('*****************************')

print('##### ICE CREAM PARLOUR #####')

prodid = str (input("enter the product id:"))
prodqty= int (input("enter the quantity:"))

print('icecream:',record[prodid]['item'])
print('amount:',record[prodid]['amt'])

print("------------------------------")
print("TOTAL AMOUNT: rs", record[prodid]['amt']*prodqty)
print('------------------------------')

record[prodid]['qty']=record[prodid]['qty']-prodqty

date and time:
2021-09-05  09:34:12
*****************************
##### ICE CREAM PARLOUR #####
enter the product id:123481
enter the quantity:3
icecream: Chikoo
amount: 45
------------------------------
TOTAL AMOUNT: rs 135
------------------------------

In [ ]:
record

{'123456': {'amt': 25, 'exp': '4/9/21', 'item': 'vanila', 'qty': 30},
 '123457': {'amt': 30, 'exp': '4/9/21', 'item': 'strawberey', 'qty': 16},
 '123458': {'amt': 40, 'exp': '4/9/21', 'item': 'chocalate', 'qty': 30},
 '123459': {'amt': 40, 'exp': '4/9/21', 'item': 'pineapple', 'qty': 19},
 '123460': {'amt': 45, 'exp': '4/9/21', 'item': 'butterscotch', 'qty': 30},
 '123461': {'amt': 40, 'exp': '4/9/21', 'item': 'orangetang', 'qty': 30},
 '123462': {'amt': 50, 'exp': '4/9/21', 'item': 'bonanza', 'qty': 30},
 '123463': {'amt': 50, 'exp': '4/9/21', 'item': 'blackcurrent', 'qty': 30},
 '123464': {'amt': 50, 'exp': '4/9/21', 'item': 'pista', 'qty': 30},
 '123465': {'amt': 55, 'exp': '4/9/21', 'item': 'kesar malai', 'qty': 26},
 '123466': {'amt': 45, 'exp': '4/9/21', 'item': 'mango', 'qty': 17},
 '123467': {'amt': 45, 'exp': '4/9/21', 'item': 'mango candy', 'qty': 27},
 '123468': {'amt': 45, 'exp': '4/9/21', 'item': 'strawberey candy', 'qty': 28},
 '123469': {'amt': 45, 'exp': '4/9/21', 'item': 'orange candy', 'qty': 30},
 '123470': {'amt': 45, 'exp': '4/9/21', 'item': 'gadbhad', 'qty': 30},
 '123471': {'amt': 45, 'exp': '4/9/21', 'item': 'kasata', 'qty': 30},
 '123472': {'amt': 45, 'exp': '4/9/21', 'item': 'blueberrey', 'qty': 30},
 '123473': {'amt': 45, 'exp': '4/9/21', 'item': 'chocochip', 'qty': 30},
 '123474': {'amt': 45, 'exp': '4/9/21', 'item': 'chocobar', 'qty': 30},
 '123475': {'amt': 45, 'exp': '4/9/21', 'item': 'kesar pista', 'qty': 30},
 '123476': {'amt': 20, 'exp': '5/9/21', 'item': 'kulfi', 'qty': 25},
 '123477': {'amt': 35, 'exp': '5/9/21', 'item': 'double scope', 'qty': 30},
 '123478': {'amt': 65, 'exp': '5/9/21', 'item': 'choco nuts', 'qty': 30},
 '123479': {'amt': 15, 'exp': '5/9/21', 'item': 'mini cup vanila', 'qty': 27},
 '123480': {'amt': 45, 'exp': '5/9/21', 'item': 'nutilla', 'qty': 25},
 '123481': {'amt': 45, 'exp': '5/9/21', 'item': 'Chikoo', 'qty': 27}}

In [ ]:
js=json.dumps(record)

fd= open('record.json','w')
fd.write(js)
fd.close()

In [ ]:

fd=open('sales.json','r')
r=fd.read()
fd.close()

sales=json.loads(r)


sales[prodid]={'prod':prodid,'qty':prodqty,'amt':record[prodid]['amt']*prodqty}

js=json.dumps(sales)

fd=open("sales.json",'w')
fd.write(js)
fd.close()

## PURCHASED ITEMS IN TO SALES

In [ ]:
sales

{'123457': {'amt': 210, 'prod': '123457', 'qty': 7},
 '123459': {'amt': 120, 'prod': '123459', 'qty': 3},
 '123465': {'amt': 220, 'prod': '123465', 'qty': 4},
 '123466': {'amt': 450, 'prod': '123466', 'qty': 10},
 '123468': {'amt': 90, 'prod': '123468', 'qty': 2},
 '123476': {'amt': 100, 'prod': '123476', 'qty': 5},
 '123479': {'amt': 45, 'prod': '123479', 'qty': 3},
 '123480': {'amt': 225, 'prod': '123480', 'qty': 5},
 '123481': {'amt': 135, 'prod': '123481', 'qty': 3},
 'amt': 220,
 'prod': '123465',
 'qty': 4}